@model SAWebUI.Models.OrdersVM
<h1>Order Details</h1>
<table class ="table table-striped table-hover">
    <thead>
            <tr>
                <th>ID</th>
                <th>Store ID</th>
                <th>Customer ID</th>
                <th>Price</th>
            </tr>
    </thead>
        <tbody>
                <tr>
                    <td>@Html.DisplayFor(Orders => Model.Id)</td>
                    <td>@Html.DisplayFor(Orders => Model.StoreId)</td>
                    <td>@Html.DisplayFor(Orders => Model.CustomerId)</td>
                    <td>@Html.DisplayFor(Orders => Model.Price)</td>
                </tr>
            
        </tbody>
</table>
